---
import '../styles/global.css';

interface Props {
  title: string;
  description: string;
  lang: 'en' | 'es';
}

const { title, description, lang } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    
    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.wolfremium.dev" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://www.wolfremium.dev" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  /* Base custom selections and utility scroll controls */
  ::selection {
    background-color: #7f52ff;
    color: #0b0b0e;
  }
  
  body {
    background-color: var(--bg-dark-obsidian);
    color: var(--text-white);
  }
</style>
